@import "../../../../variables";

.inputzone {
    width: 100%;
    transition: $linear;
  
    display: flex;
    align-items: center;
    flex-direction: column;
  
    &__container {
      width: 70%;
      max-width: 700px;
      height: 50px;
      margin: auto;
      outline: none;
      transition: $linear;
  
      color: $color-black--50;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover,
      &._focused {
        color: $color-primary;
        border-color: $color-primary;
      }
  
      &._filled {
        color: $color-black--50;
        border-color: $color-success;
      }
    }
  }