@import "../../variables";

.app-header {
  position: fixed;
  top: 0;
  height: 75px;
  z-index: 1;
  width: 100%;
  box-shadow: $box-shadow--basic;
  background: $bg-color--primary;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__left,
  &__right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__left {
    height: 100%;
    justify-content: flex-start;
    .app-header-logo {
      height: 100%;
      width: auto;
    }
  }

  &__right {
    justify-content: flex-end;
  }

  .app-link {
    transition: $linear;
    color: $text-color--basic;

    &:hover {
      color: $link-color--basic;
    }
  }
}
