@import '../../../../variables';

.summary-structure {
  grid-area: structure;
  background: $bg-color--primary;
  box-shadow: $box-shadow--basic;
  height: 100%;
  overflow: hidden;
}

#summary-structure-subheader {
  display: flex;
  justify-content: space-between;
  font-weight: $font-weight-bold;
  line-height: normal;
  text-align: center;

  .roleMap {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  p {
    margin: 16px 0;
    text-align: left;
  }

  @media (max-width: $break-point) {
    flex-direction: column;

    .roleMap { padding: 0; }
    p { margin-bottom: 0; }
  }
}
  
