@import '../../../../variables';

.summary-structure {
  grid-area: structure;
  background: $bg-color--primary;
  box-shadow: $box-shadow--basic;
  height: 100%;
  overflow: hidden;

  &__list {
    &__item {
      padding: 0 !important;
    }
  }
}

.summary-structure-subheader {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}
  
