@import "../../../variables";
@import "../../../mixins";

.not-found {
  @include centered-column;
  &__message {
    min-height: $min-content-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-error;
  }
}
