@import "../../../variables";

.not-found {
  &__message {
    height: 256px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-error;
  }
}
