@import "../../../../variables";

.dropzone-text {
  max-width: calc(100% - 100px);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $color-black--75;
}

.dropzone-file-size {
  color: $color-black--50;
  font-size: $font-size--basic;
}
