.dialog {
  &__actions {
    ._start {
      flex: 1;
      justify-content: flex-start;
    }
  }
}

.dialog .dialog__tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

.dialog .dialog__tags__tag {
  margin: 3px;
}