@import "../../../variables";
@import "../../../mixins";

.job-status {
  min-height: $min-content-height;

  .progress-section,
  .error {
    margin: 50px 0;
  }

  .error {
    text-align: center;
    &__message {
      color: $color-error;
      margin: 0;
    }

    &__details {
      margin: 5px 0;
    }
  }

  .processing-controls {
    @include flex-right-aligned;
  }
}
