@import "../../../../variables";
@import "../../../../mixins";

.summary {
  @include centered-column;
  width: fit-content;
  margin: 0 auto;
  padding: 0 20px;

  p {
    margin-bottom: 0;
  }

  &__list {
    @include centered-column;
    margin: 50px auto;
    min-width: fit-content;
  }

  &__compliance {
    @include centered-column;
    position: absolute;

    &_hidden {
      display: none;
    }

    span {
      font-size: 45px;
    }
  }

  .legend {
    list-style: none;
    padding: 0;
    margin-top: 0;

    display: flex;

    &-item {
      margin: 0 10px;
      display: flex;
      align-items: center;

      .legend-item__icon {
        font-size: 16px;
        margin-right: 5px;
      }

      &_passed {
        .legend-item__icon {
          color: $color-success;
        }
      }
      &_failed {
        .legend-item__icon {
          color: $color-error;
        }
      }
    }
  }

  .list {
    list-style: none;
    padding: 0;
    columns: 2;
    margin: 0 20px;
    -webkit-columns: 2;
    -moz-columns: 2;

    &-item {
      margin: 0 10px;
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-bottom: 9px;

      .list-item__icon {
        font-size: 16px;
        margin-right: 5px;
      }

      &_passed {
        .list-item__icon, span {
          color: $color-success;
        }
      }
      &_failed {
        .list-item__icon, span {
          color: $color-error;
        }
      }

      span {
        padding-left: 5px;
        font-weight: 400
      }
    }

    @media screen and (max-width: 490px) {
      columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }

    @media screen and (max-width: 290px) {
      margin: 0;
    }
  }


  .error-section {
    @include centered-column;
    margin: 30px;
    svg {
      font-size: 130px;
      margin-bottom: 15px;
    }

    &_cancelled svg {
      color: $color-black--35;
    }
    &_timeout svg {
      color: $color-error;
    }
  }
}
