@import "../../../../variables";

.summary-tree {
  background: $bg-color--primary;
  box-shadow: $box-shadow--basic;
  height: 100%;
  overflow: hidden;

  &__list {
    height: 100%;

    .group-item {
      padding: 2px 2px 2px 8px;
    }

    .rule-item {
      padding: 2px 2px 2px 16px;
      display: flex;

      &__content {
        padding-right: 50px;

        & > span {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        .content-text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-right: 5px;
          font-size: .9rem;

          &::first-letter {
            text-transform: capitalize;
          }
        }

        &_empty {
          padding-left: 24px;
        }
      }

      &_expanded {
        align-items: flex-start;

        span {
          align-items: flex-start;
        }

        & + .MuiListItemSecondaryAction-root {
          top: 0;
          transform: none;
        }

        .content-text {
          white-space: normal;
          line-height: normal;
        }
      }

      &_error {
        color: $color-primary;

        .rule-item__chip {
          background: $color-primary;
        }
      }

      &__chip {
        height: 18px;
        color: $color-white;
      }
    }

    .check-item {
      padding: 2px 2px 2px 40px;

      &.Mui-selected {
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
      }
      &_grouped {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

    &__item {
      height: calc(100% - 48px);
      overflow: auto;
    }
  }

  .MuiTypography-body1 {
    font-size: .9rem;
  }
}

.more-details-link {
  display: block;
  position: relative;
}

#summary-tree-subheader {
  display: flex;
  align-items: center;
  overflow: auto;
  font-weight: $font-weight-bold;
  white-space: nowrap;

  button:first-of-type {
    margin-left: auto;
  }
}
