@import "variables";
@import "mixins";

.vera-pdf-app {
  font-family: $font-family;

  position: absolute;
  width: 100%;
  min-height: 100%;
  background: $color-grey;
}

.app-content {
  width: 100%;
  min-height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 75px 10px 50px 10px;
  box-sizing: border-box;
}

.app-link {
  @include common-link;

  &_disabled {
    pointer-events: none;
  }
}
