@import "variables";

@mixin common-link {
  outline: none;
  text-decoration: none;
  color: $link-color--basic;
}

@mixin centered-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-right-aligned {
  display: flex;
  justify-content: flex-end;
}
