$font-family: Roboto, sans-serif;

$font-size--basic: 16px;
$font-size--secondary: 14px;

$font-weight-bold: bold;

$color-white: #fff;
$color-white--75: darken($color-white, 25%);
$color-white--50: darken($color-white, 50%);
$color-white--25: darken($color-white, 75%);

$color-grey: #f5f5fb;

$color-black: #000;
$color-black--75: lighten($color-black, 25%);
$color-black--50: lighten($color-black, 50%);
$color-black--35: lighten($color-black, 65%);
$color-black--25: lighten($color-black, 75%);

$color-primary: #cf3f4f;

$color-error: #ce1126;

$color-success: rgb(76, 173, 147);

$color-warning: #ff9800;

$text-color--basic: $color-black--75;
$text-color--secondary: $color-black--50;

$link-color--basic: $color-primary;

$border-color--basic: $color-black--50;

$box-shadow--basic: 0 1px 2px rgba(0,0,0,0.1);

$bg-color--basic: $color-grey;
$bg-color--primary: $color-white;

$page-content-min-height: 150px;

$min-content-height: 256px;

$break-point: 768px;

$linear: all .2s linear;
