@import "../../variables";

.progress {
  position: relative;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  div.progress__bar {
    border-radius: 3px;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  &__percentage {
    z-index: 1;
    color: $color-white;
  }
}
