@import "../../../../variables";

.toolbar {
  background: $color-black--25;
  box-shadow: $box-shadow--basic;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  section {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__center {
    justify-content: center;
  }

  &__end {
    justify-content: flex-end;

    div.select-form-controller {
      width: 100px;
    }

    & > *:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__filename {
    max-width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1070px) {
  .toolbar {
     section:not(:first-of-type) {
       flex-grow: 2;
    }
  }
}

@media (max-width: 895px) {
  .toolbar {
    section:not(:last-of-type) {
      flex-grow: 1;
    }
  }
}

@media (max-width: 790px) {
  .toolbar {
     section.toolbar__center {
       display: none;
    }
  }
}

@media (max-width: 560px) {
  .toolbar {
     .pagination {
       display: none;
    }

    section.toolbar__end {
      flex-grow: 1;
    }
  }
}
