@import "../../../../variables";

.toolbar {
  background: $color-black--25;
  box-shadow: $box-shadow--basic;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  section {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }

  &__center {
    justify-content: center;
  }

  &__end {
    justify-content: flex-end;

    div.select-form-controller {
      width: 100px;
    }

    & > *:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__filename {
    max-width: 35vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
