@import '../../variables';

.page-navigation {
  display: flex;
  padding: 20px 0 10px 0;

  div {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;

    .app-link {
      color: inherit;
      display: flex;
    }
  }
}

.page-navigation-text {
  display: flex;
  padding: 0 0 10px 0;

  div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 0;

    p {
      margin: 0;
      color: rgba(0, 0, 0, 0.75);
      letter-spacing: 0.00938em;
    }

    .app-link {
      color: inherit;
      display: flex;
    }
  }

  @media (max-width: $break-point) {
    display: grid;
    grid-template-areas:
      "center center"
      "start end";

    &__start { grid-area: start; }
    &__center {
      grid-area: center;
      p { max-width: 75%; }
    }
    &__end { grid-area: end; }

    div {
      button {
        margin: 40px 0 0 0;
      }
    }
  }
}

.page-navigation, .page-navigation-text {
  button {
    min-height: 40px;
    padding: 7px 21px;

    @media (max-width: $break-point) {
      max-width: min-content;
      min-height: 70px;
      padding: 8px 24px;
      line-height: 1.25;
    }
  }
}
