@import "../../../mixins";

.inspect {
  width: 100%;
  background: $bg-color--basic;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 50px;
  top: 75px;

  display: grid;
  grid: "toolbar toolbar toolbar toolbar" 40px
        "tree document pane structure" 1fr;
  grid-template-columns: 30% 1fr 32px auto;

  .toolbar {
    grid-area: toolbar;
  }

  .summary-tree {
    grid-area: tree;
  }

  .inspect-document {
    overflow-x: auto;
    padding: 20px 0;
    display: grid;
    grid-area: document;
  }

  &.showStructure {
    grid-template-columns: 30% 1fr 32px 25%;
  }

  .react-pdf__Page__textContent {
    display: none;
  }
}
