@import "../../../mixins";

.inspect {
  width: 100%;
  background: $bg-color--basic;
  overflow: auto;
  position: absolute;
  left: 0;
  bottom: 50px;
  top: 75px;

  display: grid;
  grid: "toolbar toolbar" 40px
        "tree document" 1fr;
  grid-template-columns: 30% 1fr;

  .toolbar {
    grid-area: toolbar;
  }

  .summary-tree {
    grid-area: tree;
  }

  &__document {
    @include centered-column;
    justify-content: flex-start;

    overflow: auto;
    padding: 20px 0;
    grid-area: document;
  }
}
