@import "../../../../variables";

.dropzone-wrapper {
  overflow: hidden;
  height: 100%;

  &__fade {
    position: fixed;
    left: 0;
    bottom: 50px;
    top: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: opacity 0.4s;
    pointer-events: none;
    text-align: center;
    padding-top: 40vh;
    color: $color-grey;
    font-size: 2.5rem;

    &._visible {
      opacity: 1;
    }
  }
}
