@import "../../../variables";

.job-status {
  min-height: $min-content-height;

  .progress,
  .error {
    margin: 50px 0;
  }

  .error {
    text-align: center;
    &__message {
      color: $color-error;
      margin: 0;
    }

    &__details {
      margin: 5px 0;
    }
  }
}
